.formContainer{
    background-color: hsl(221, 67%, 77%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: white;
        padding: 20px 60px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        
        .logo{
            font-size: 20px;
            font-weight: bold;
            color: #4866ec;
        }

        .title{
            font-weight: bold;
            color: #4866ec;
        }
        form{
            display: flex;
            flex-direction: column;
            gap: 15px;
            input{
                padding: 12px;
                border: none;
                border-bottom: 1px solid #767881;
                outline: none;
            }
            button{
                background-color: #4866ec;
                color: white;
                padding: 10px;
                border: none;
                border-radius: 5px;
                padding:12px;
                font-weight: bold;
                cursor:pointer
               
            }
            label{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
            }
        }
        p{
            color: #767881;
        }
     

     
    }
}


// home container

.home{
    background-color: #738aee;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;

        .sidebar{
            flex:1;
            border-right: 1px solid ;
            background-color: #4866ec;

            .navbar{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #f7f4fff4;
                padding: 10px;
                height: 50px;

                .logo{
                    font-weight: bold;

                }
    
                .user{
                    display: flex;
                    gap: 10px;
                    img{
                        background-color: #ddd;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    button{
                        background-color: #4866ec;
                        cursor: pointer;
                        border: none;
                        padding: 5px 8px;
                        border-radius: 5px;
                        color: white;
                    }
                }

              
            }
          

            .search{
                border-bottom: 1px solid gray;

                .searchForm{
                    padding: 10px;
                    input{
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;
                        border-bottom: 1px solid ;
                        width: 100%;
                        &::placeholder{
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
           
            .userChat{
                display: flex;
                align-items: center;
                color: white;
                cursor: pointer;
              
                gap: 10px;

                &:hover{
                    background-color: #001265;
                }
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .userChatInfo{
                    span{
                        font-weight: 500;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            
        }

        .chat{
            flex:2;

            .chatInfo{
                height:50px;
                background-color: #4866ec;
                padding: 10px;
                display: flex;
                align-items: center;
            }

            .message{
                
                padding: 10px;
               
            }

            .input{
                height: 50px;
                background-color: rgb(255, 254, 254);
                padding: 10px;
                position: relative;
                top: calc(49%);
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            input{
                width: 100%;
                padding: 12px;
                border: none;
                outline: none;
                color: gray;
                font-size: 18px;

                &::placeholder{
                    color: lightgray;
                }

            }

            .send{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                button{
                    background-color: #4866ec;
                    cursor: pointer;
                    border: none;
                    padding: 5px 8px;
                    border-radius: 5px;
                    color: white;
                }
            }
            
        }
    }
}